@import "../Consts.scss";

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    background: transparent;
    color: var(--secondaryTextColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .logo {
        font-size: 2rem;
        color: var(--primaryTextColor);
        text-decoration: none;
        font-weight: 900;
    }

    .navbar {
        a {
            font-size: 1.2rem;
            margin-left: 1rem;
        }
    }

}