@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import "./layout/Consts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  // min-height: 100vh;
}

body {
  background: var(--primaryColor);
  color: var(--primaryTextColor);
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04rem;
}