@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import "./layout/Consts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // min-height: 100vh;
}

body {
  background: var(--primaryColor);
  color: var(--primaryTextColor);
}

a {
  font-size: 1rem;
  color: var(--linkColor);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
    color: var(--linkHoverColor);
  }

}

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04rem;
}