//light theme
[data-theme="light"] {
    // F9F7F7
    --primaryColor: #FAF0E4;
    --secondaryColor: #DBE2EF;
    --tertiaryColor: #3F72AF;
    --quaternaryColor: #112D4E;

    --primaryTextColor: #242424;
    --secondaryTextColor: #fff;
    --tertiaryTextColor: #3F72AF;
    --quaternaryTextColor: #184272;

    --linkColor: #3F72AF;
    --linkHoverColor: #112D4E;

    // --linkColor: #D8A7B1;
    // --linkHoverColor: #EF7C8E;
}

//dark theme
[data-theme="dark"] {
    --primaryColor: #242424;
    --secondaryColor: #F9F7F7;
    --tertiaryColor: #EF7C8E;
    --quaternaryColor: #df304a;

    --primaryTextColor: #F9F7F7;
    --secondaryTextColor: #242424;
    --tertiaryTextColor: #EF7C8E;
    --quaternaryTextColor: #df304a;

    --linkColor: #EF7C8E;
    --linkHoverColor: #df304a;
}