//light theme
[data-theme="light"] {
    --primaryColor: #FAE8E0;
    --secondaryColor: #D8A7B1;
    --triaryColor: #EF7C8E;
    --quaternaryColor: #B6E2D3;

    --primaryTextColor: #242424;
    --secondaryTextColor: #B6E2D3;

    --linkColor: #D8A7B1;
    --linkHoverColor: #EF7C8E;
}

//dark theme
[data-theme="dark"] {
    --primaryColor: #242424;
    --secondaryColor: #fff;
    --triaryColor: #EF7C8E;
    --quaternaryColor: #B6E2D3;

    --primaryTextColor: #fff;
    --secondaryTextColor: #242424;

    --linkColor: #D8A7B1;
    --linkHoverColor: #EF7C8E;
}